body{
	background-color: #b7b7b7;
}
.container{
	background-color: #fff;
	max-width: 1200px;
	min-height: 600px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
}
.panel1{
	background-color: #ff00ff;
	float: left;
	width: 390px;
	height: 190px; 
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.panel2{
	background-color: #ff00ff;
	float: left;
	width: 390px;
	height: 190px; 
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.panel3{
	background-color: #ff00ff;
	float: left;
	width: 390px;
	height: 190px; 
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.panel4{
	background-color: #ff00ff;
	float: left;
	width: 390px;
	height: 190px; 
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.panel5{
	background-color: #ff00ff;
	float: left;
	width: 390px;
	height: 190px; 
	margin-right: 5px;
	margin-bottom: 5px;
}
.panel6{
	background-color: #ff00ff;
	float: left;
	width: 390px;
	height: 190px; 
	margin-right: 5px;
	margin-bottom: 5px;
}
.panel7{
	background-color: #ff00ff;
	float: left;
	width: 390px;
	height: 190px; 
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.panel8{
	background-color: #ff00ff;
	float: left;
	width: 390px;
	height: 190px; 
	margin-right: 5px;
	margin-bottom: 5px;
}
.panel9{
	background-color: #ff00ff;
	float: left;
	width: 390px;
	height: 190px;
	margin-right: 5px;
	margin-bottom: 5px;
}