body{
	background-color: #ededed;
}
.sweet1{
	background-color: #a94f4f;
	color: #fffcfd;
	height: 50px;
}
.sweet1 h1{
	padding-left: 130px;
	padding-top: 5px;
	margin: 0 auto;
}
.anitahkawira{
	width: 1100px;
	height: 900px;
	background-color: #ffffff;
	margin: 0 auto;
}
.lovely{
	float: left;
}
.kawira1{
	background-color: #919191;
	width: 520px;
	height: 350px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
}
.kawira2{
	background-color: #ffffff;
	color: #5b5b5b;
	width: 520px;
	height: 350px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.kawira2 h1{
	color: #a5514f;
}
.kawira h3{
	color: #b3b3b3;
}
hr{
	color: #e6e6e6;
}
a{
	color: #ab564f;
	text-decoration: none;
}
.kawira3{
	background-color: #919191;
	width: 340px;
	height: 260px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-image: url(../images/eagle_2.jpg);
}
.kawira4{
	background-color: #919191;
	width: 340px;
	height: 260px;
	margin-right: 20px;	
	margin-bottom: 20px;
	background-image: url(../images/eagle_3.jpg);
}
.kawira5{
	background-color: #919191;
	width: 340px;
	height: 260px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-image: url(../images/eagle_4.jpg);
}
.kawira6{
	background-color: #ffffff;
	width: 340px;
	height: 210px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.kawira6 h2{
	color: #cd8d8d;
	padding-left: 20px;
}
.kawira7{
	background-color: #ffffff;
	width: 340px;
	height: 210px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.kawira7 h2{
	color: #cd8d8d;
	padding-left: 20px;
}
.kawira8{
	background-color: #ffffff;
	width: 340px;
	height: 210px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.kawira8 h2{
	color: #cd8d8d;
	padding-left: 20px;
}
.sweet2{
	float: left;
	color: #939393;
	font-size: 14px;
	padding-left: 125px;
}
.sweet3{
	float: right;
	color: #939393;
	font-size: 14px;
	padding-right: 125px;
}
